.visual{margin-top: 146px; width: 2000px; position: relative; left: 50%; margin-left: -1000px;}
.sub_menu{width: 1200px; margin: 0 auto; position:relative; padding-top: 130px; font-family:  'Nanum Gothic', sans-serif; text-align: center;}
.sub_menu h3{position: absolute; top: -190px; left: 50%; margin-left: -66px; font-size: 2.188em; color: #fff; font-weight: 300;}
.sub_menu  p{position: absolute; top: -140px; left: 50%; margin-left: -133px; font-size: 1.375em; color: #fff; text-align: center; line-height: 1.5em; text-transform: uppercase;}
.sub_menu ul{overflow: hidden; position: absolute; top: 60px;  left: 50%; margin-left: -485px; width: 942px; padding: 10px 14px; border-top: 1px solid #999; border-bottom: 1px solid #999;}

.sub_menu .right_line{position: absolute; top: 62px; right: 5.77%;}
.sub_menu .right_line > div:nth-of-type(1){display: block; width: 1px; height: 24px; background: #999; position: absolute; right: 28px; top: -3px; transform: rotate(-50deg) translate(-3px,-8px);}
.sub_menu .right_line > div:nth-of-type(2){ display: block; width: 1px; height: 30px; background: #999; position: absolute; right: 27px; top: 14px;}
.sub_menu .right_line > div:nth-of-type(3){display: block; width: 1px; height: 24px; background: #999; position: absolute; right: 29px; bottom: -61px; transform: rotate(50deg) translate(-3px,8px);}

.sub_menu .left_line{position: absolute; top: 62px; left: 5.77%;}
.sub_menu .left_line > div:nth-of-type(1){display: block; width: 1px; height: 24px; background: #999; position: absolute; left: 28px; top: -3px; transform: rotate(50deg) translate(3px,-8px);}
.sub_menu .left_line > div:nth-of-type(2){display: block; width: 1px; height: 30px; background: #999; position: absolute; left: 27px; top: 14px;}
.sub_menu .left_line > div:nth-of-type(3){display: block; width: 1px; height: 24px; background: #999; position: absolute; left: 29px; bottom: -61px; transform: rotate(-50deg) translate(3px,8px);}




.sub_menu li{float: left; width: 142px; margin-right: 58px; position: relative;}
.sub_menu li::before{content: '';  width: 1px; height: 20px; background: #ccc; display: block; position: absolute; top: 9px; right: -30px;} 
.sub_menu li:last-child::before {content: ''; display: none;}    
.sub_menu li a{display: block; position: relative; font-size: 17px; color: #333; line-height: 40px;}




.sub_menu li a{display: block; background: #fff; transition: .3s;}
.sub_menu li:hover a{display: block; background: #0069ab; color: #eee;}
.sub_menu li a::after{display: block; content: ''; background: #fff; transition: .3s;}
.sub_menu li:hover a::after{display: block; content: ''; border-left: 12px solid #0069ab; border-top: 12px solid transparent; border-bottom: 12px solid transparent; position: absolute; left: 100%; top: 0; width: 0; height: 16px;}
.sub_menu li a::before{display: block; content: ''; background: #fff; transition: .3s;}
.sub_menu li:hover a::before {display: block; content: ''; border-right: 12px solid #0069ab; border-top: 12px solid transparent; border-bottom: 12px solid transparent; position: absolute; right: 100%; top: 0; width: 0; height: 16px;}
.sub_menu li:nth-of-type(5){margin-right: 0px;}

#content{width: 100%; margin: -6px auto 0 auto; position: relative;}
#content .title_area{width: 100%; margin: 0 auto;}
#content .linner{border-bottom: 1px solid #666;}

#content .title_area .inner {position: relative;}
#content .inner{width: 100%; margin: 0 auto;}
#content .title_area .line_map{font-size: 0.813em; position: absolute; top: -112px; right: 0;}
#content h2{text-align: center; padding-top: 90px; font-family : 'Nanum Gothic', sans-serif; font-size: 2.813em; font-weight: 800; color: #333;}