/* Reset CSS  */
* { margin:0; padding:0; border:0; outline:0; vertical-align:top;
    -webkit-text-size-adjust:none;  }
    body {font-family: 'Assistant', sans-serif; font-size:16px; color:#333;}
    article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display:block; }
    ul, ol, dl { list-style:none; }
    img, video {border:0; vertical-align:top;}
    a, a:link {color:#333;text-decoration:none; }
    a:visited { color:#333; }
    a:hover, a:active {color:#333;text-decoration:none; }
    table { border-collapse:collapse; border-spacing:0; }
    input, select { vertical-align:middle; }
    label { cursor:pointer; }
    .blind,legend,hr,caption { display:block; overflow:hidden; position:absolute; top:0; left:-1000em; }
    i,em,address { font-style:normal; font-weight:normal; }
    p,li,dd{ line-height:1.5em}
    .hidden,#skipNav{ width: 1px;height: 1px;position: absolute;top: 0; left: -1000%; display: block; color: #fff; overflow: hidden;}
    /*폰트연결*/
    @import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300;400;600;800&display=swap');
    /*font-family: 'Assistant', sans-serif;  font-weight: 300, 400, 600 ,800,*/
    /* 공통영역 */
    #wrap{overflow: hidden; width: 100%;}
    .inner_wrap{ width: 1600px; margin: 0 auto;}

    .visusal_bg{position: relative; width: 55%;}
    .visusal_bg .visual_img{
        width: 100%;
        position: absolute;
        left: 68%;
        top: 50%;
        transform:translateY(79%);  transition: all 1.5s ease-out;}
    /* header */
        
    #headerArea{position:fixed; z-index: 990;height:110px; left:0; top: 0;
         width: 100%; transition: all .3s ease-out;}	
    #headerArea	.headerInner{overflow: hidden}
    #headerArea h1{float: left; margin: 45px 0 0 35px;}
    #headerArea h1 a{display: block; background:url(../images/logo.png) 0 0 no-repeat;
        background-size: cover;
        color: #fff;
        text-indent: -999%;
        overflow: hidden;
        width: 187px;
        height: 25px;}	
    #headerArea #gnb{float: right;margin-top: 40px}
    #headerArea #gnb ul{overflow: hidden}
    #headerArea #gnb ul li{float: left; margin-right: 30px;}
    #headerArea #gnb ul li:nth-of-type(4){margin-right: 60px; padding-bottom: 25px;}
    #headerArea #gnb ul li a{color: #fff; font-size: 26px; font-family: 'Assistant', sans-serif; font-weight: 600;}

    .down{    z-index: 150;
        display: block;
        position: absolute; 
        left:50%; 
        transform:translateX(-50%);
        bottom: 10%;
        transition: .1s;
         }
    .down img{width: 100%;animation: arrowAni 1.2s infinite 0s normal;}
    
    @keyframes arrowAni{
        from{top: -150px; opacity: 1;}
        to{top: 10px; opacity: 0;}
    }




    
    #wrap .menu_ham{position: fixed; z-index: 120; text-indent: -9999px; overflow: hidden; border-radius: 50%; display: none; transition: .5s}
    #wrap .menu_ham span{width: 20px; height: 5px; background: #fff; display: block; position: relative; margin: 30px 28px; border-radius: 30px}
    #wrap .menu_ham.open span{background: transparent;}
    #wrap .menu_ham span::before{content: ''; display: block; width: 30px;height: 5px; position: absolute; background: #fff;right: 0;top: -12px;border-radius: 30px; transition: .3s}
    #wrap .menu_ham.open span::before{transform: rotate(-45deg); top: 0; background: #fff;}
    #wrap .menu_ham span::after{content: ''; display: block; width: 30px; height: 5px; position: absolute; background: #fff; top: 12px; right: 0; border-radius: 30px; transition: .3s}
    #wrap .menu_ham.open span::after{transform: rotate(45deg);top: 0; background: #fff;}

 
    
    /* visual */
    
    
    
    /* content 공통영역 */
   
    
    /* footer 공통영역 */
    
    #footerArea{width: 100%; position: relative;}
    #footerArea .footer_inner{background: #1b9dcf url(../images/foot_left.png) 0 100% no-repeat; padding-bottom: 20px; position: relative;}
    #footerArea .footer_inner p{text-align: center;color: #ccc;font-size: 14px;line-height: 2.4em;transition: .5s}
    #footerArea .footer_inner p:nth-of-type(1){padding-top: 75px; margin-bottom:  65px;}
    #footerArea .footer_inner p:nth-of-type(2){} 
    #footerArea .footer_inner .footer_logo{position: absolute; top: 50%; left: 50%; margin-left: -123px;}
    #footerArea .footer_inner .footer_logo img{width: 100%;}
    #footerArea .top_btn{display: block; width:80px; height:80px; border-radius:50%; text-align: center; font-weight:800; font-size: 16px; letter-spacing: 2px; color:#fff; background:#1b9dcf; position:absolute;left:85%; top:-40px; padding: 20px;}
    #footerArea .top_btn::after{content: '';}
    /* 해상도별 */
    /* 일반 pc */
    @media screen and (max-width:1280px) {
        #headerArea	.headerInner{
            width: auto;
            margin: 0;
        }
    }
    
    
    /* 테블릿 */
    @media screen and (max-width:1024px) {
        .videoBox {
            height: auto;
        }
    
        .down{
            font-size: 30px;
        }
        .visusal_bg{position: relative; width: 50%;}
        .visusal_bg .visual_img{
  
        transform:translateY(110%);}
        #wrap .menu_ham{
            display: block;
            top: 15px;
            right: 15px;
        }
        #headerArea{
            z-index: 100;
            position: fixed;
            
        }	
        #headerArea .headerInner{
            padding: 0;
        }
        #headerArea h1{ 
            float: none; 
            margin: 32px 0 0 5%;
        }
        #headerArea h1 a{
            width: 185px;
            height: 33px;
            display: block;
            background-size: contain;
        }
        #headerArea #gnb{
            float: none;
            width: auto;
            margin-top: 0px;
        }
        #headerArea #gnb ul{
            display: none;
            margin-top: -65px;
        }
        #headerArea #gnb ul li{
            float: none;
            width: 100%;
            text-align: center;
            padding-top: 25px;
            margin-right: 0;
            background: #212121;
        }
        #headerArea #gnb ul li a{
            padding: 15px 0;
            line-height: 2em;
            font-size: 36px;
        }
        #headerArea #gnb ul li:last-of-type a{
            padding-bottom: 40px;
        }
    }

    
    /* 모바일 */
    @media screen and (max-width:640px) {
        #wrap .menu_ham{
            top: 0;
            right: 15px;
        }
        .visusal_bg{display: none;}
        .visusal_bg .visual_img{}
        #headerArea{
            z-index: 100;
            position: fixed;
            top: -45px;
        }
        #headerArea h1{
            position: absolute;
            top: 30px;
            z-index: -10;
        }
        #headerArea #gnb{
            float: none;
            width: auto;
            margin-top: 25px;
        }
        #headerArea #gnb ul{
            display: none;
            margin-top: 45px;
        }
        #footerArea .footer_inner p{opacity: .0;}
        #footerArea .top_btn{display: block; width:80px; height:80px; border-radius:50%; text-align: center; font-weight:800; font-size: 16px; letter-spacing: 2px; color:#fff; background:#1b9dcf; position:absolute;left:62%; top:-40px; padding: 20px;}
    }
    
    /* 최소 사이즈 처리 */
    @media screen and (max-width:480px) {
        #wrap { min-width:320px; }
    }