/*파란불*/
.sub_menu li.rsed a{background: #0069ab; color: #fff;}
.sub_menu li a{display: block; position: relative; font-size: 16px; color: #888; line-height: 48px;}
.sub_menu li.rsed a::after{display: block; content: ''; border-left: 12px solid #0069ab; border-top: 12px solid transparent; border-bottom: 12px solid transparent; position: absolute; left: 100%; top: 0; width: 0; height: 24px;}
.sub_menu li.rsed a::before {display: block; content: ''; border-right: 12px solid #0069ab; border-top: 12px solid transparent; border-bottom: 12px solid transparent; position: absolute; right: 100%; top: 0; width: 0; height: 24px;}
#content h2::after{content: ''; display: block; width: 100%; height: 3px; background: #8fcaca; position: absolute; top: 90px;}


#content .safe_inner{width: 100%; margin-top: 80px; font-family:  'Nanum Gothic', sans-serif;}
#content .safe_inner p.safe_txt{padding: 0 5%; color: #333; font-weight: 400; line-height: 1.8em; font-size: 18px; text-align: justify;}
#content .safe_inner .safe_img{padding: 0 5%; margin-top: 20px;}
#content .safe_inner .safe_img img{width: 100%;}
#content .safe_inner .safe_main{padding: 40px 0;}

#content .safe_inner .safe_main .safe_yu{ overflow: hidden;}
#content .safe_inner .safe_main .safe_yu > li.full{position: relative;
background: #fff;
display: inline-block;
width: 90%;
margin: 10px 5%; border: 1px solid #d1d1d1;}
#content .safe_inner .safe_main .safe_yu > li.full:nth-of-type(1)::before{content: ''; width: 28px; height: 28px; background: url(../images/fingerprint.png) 0 0 no-repeat; background-size: cover; position: absolute; top: 3%; right: 2%;}
#content .safe_inner .safe_main .safe_yu > li.full:nth-of-type(2)::before{content: ''; width: 30px; height: 30px; background: url(../images/deal.png) 0 0 no-repeat; background-size: cover; position: absolute; top: 3%; right: 2%;}
#content .safe_inner .safe_main .safe_yu > li.full:nth-of-type(3)::before{content: ''; width: 27px; height: 27px; background: url(../images/user.png) 0 0 no-repeat; background-size: cover; position: absolute; top: 3%; right: 2%;}
#content .safe_inner .safe_main .safe_yu > li.full:nth-of-type(4)::before{content: ''; width: 27px; height: 27px; background: url(../images/balance.png) 0 0 no-repeat; background-size: cover; position: absolute; top: 3%; right: 2%;}

#content .safe_inner .safe_main .safe_yu > li.full:nth-of-type(1){border-radius: 0 18px 0 18px;}
#content .safe_inner .safe_main .safe_yu > li.full:nth-of-type(2){border-radius: 18px 0 18px 0;}
#content .safe_inner .safe_main .safe_yu > li.full:nth-of-type(3){border-radius: 0 18px 0 18px;}
#content .safe_inner .safe_main .safe_yu > li.full:nth-of-type(4){border-radius: 18px 0 18px 0;}





#content .safe_inner .safe_main .safe_yu > li.full .main_tit{    position: relative;
padding: 0 0 0 0;}
#content .safe_inner .safe_main .safe_yu > li.full .main_tit .ma_tit{position: relative;
font-size: 18px;
border-right: none;
border-bottom: 1px solid #d1d1d1; font-weight: 800;
width: auto;
padding: 5px 10px 5px;
margin: 0 0 10px;}
#content .safe_inner .safe_main .safe_yu > li.full .main_tit .mi_txt{ padding: 0 0;}
#content .safe_inner .safe_main .safe_yu > li.full .main_tit .mi_txt li{    position: relative;
    line-height: 1.5;
    padding: 5px 10px 5px 12px; text-align: justify;
    color: #555;}
    #content .safe_inner .safe_main .safe_yu > li.full .main_tit .mi_txt li::before{    position: absolute;
        top: 13px;
        left: 1.1%;
        content: "";
        display: block;
        width: 4px;
        height: 4px;
        background: #f1871e;
        border-radius: 50%;}